<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name.first}}">
  <ion-content class="no-padding chat-detail">
    <ion-list>
      <div class="item chat-left">
        <img ng-src="{{chat.face}}">
        <p class="message">
          Hey, how's it going?
        </p>
      </div>
      <div class="item chat-right">
        <img ng-src="{{chat2.face}}">
        <p class="message">
          Doing great!
        </p>
        <p class="message second">
          How about yourself?
        </p>
      </div>
      <div class="item chat-left">
        <img ng-src="{{chat.face}}">
        <p class="message">
          Awesome!<br/>
        </p>
        <p class="message second">
          Can I join you?<br/>
        </p>
        <p class="message third">
          I saw that you're a designer, I'd love <br />
          to see what you're working on!
        </p>
      </div>
      <div class="item chat-right">
        <img ng-src="{{chat2.face}}">
        <p class="message">
          Definitely, come on over.
        </p>
      </div>
    </ion-list>
    <div class="item response">
      <label>
        <input type="text" placeholder="Type a message...">
      </label>
    </div>
  </ion-content>
</ion-view>
