<md-bottom-sheet class="checkin-form">
	<!--<div>Location: {{checkin.location}}</div>
	<div>Career: {{checkin.career}}</div>
	<div>More: {{checkin.more}}</div>-->
	<div class="list">
	  <label class="item item-input item-select">
	  	&nbsp;
	    <select>
	      <option disabled selected>Location</option>
	      <option>Blue</option>
	      <option>Green</option>
	      <option>Red</option>
	    </select>
  	  </label>
	  <label class="item item-input">
	    <textarea placeholder="Notes"></textarea>
	  </label>
	  <button class="button button-block button-calm">
		Submit
	  </button>
	</div>
</md-bottom-sheet>