<ion-view view-title="Account">
  <ion-content>
    <ul class="list">

	  <li class="item item-toggle">
	     Visibility
	     <label class="toggle toggle-calm">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	  <li>
	  	<div class="item item-button-right">
	    	Career Type
		  	<button class="button button-postive-icon">
		      <i class="icon ion-ios-arrow-forward"></i>
		    </button>
		</div>
		<div class="item item-divider">
		    Career Type
		</div>
		<ul class="list">
		  <li class="item item-checkbox">
		     <label class="checkbox checkbox-calm">
		       <input type="checkbox">
		     </label>
		     Developer
		  </li>
		  <li class="item item-checkbox">
		     <label class="checkbox checkbox-calm">
		       <input type="checkbox">
		     </label>
		     Designer
		  </li>
		 <li class="item item-checkbox">
		     <label class="checkbox checkbox-calm">
		       <input type="checkbox">
		     </label>
		     Business
		  </li>
		  <li class="item item-checkbox">
		     <label class="checkbox checkbox-calm">
		       <input type="checkbox">
		     </label>
		     Artist
		  </li>
		</ul>
	  </li>
	</ul>
  </ion-content>
</ion-view>
