// Colors
$primary:			#07BE9C;
$secondary:			#64659E;
$white:				#fff;
$lightgrey:			#c4c4c4;
$black:				#333;

$light:                        	  $white !default;
$stable:                          $primary !default;
$positive:                        $primary !default;
$calm:                            $secondary !default;
$balanced:                        $primary !default;
$energized:                       $primary !default;
$assertive:                       $primary !default;
$royal:                           $primary !default;
$dark:                            $white !default;
