// Colors
$primary:			#07BE9C;
$secondary:			#64659E;
$white:				#fff;
$lightgrey:			#c4c4c4;
$black:				#333;
$red:				#A5000A;

$light:                        	  $white !default;
$stable:                          $primary !default;
$positive:                        $primary !default;
$calm:                            $secondary !default;
$balanced:                        $primary !default;
$energized:                       $primary !default;
$assertive:                       $red !default;
$royal:                           $primary !default;
$dark:                            $white !default;

/*@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}*/

*::-webkit-input-placeholder {
  color: $lightgrey !important;
  font-style: italic; 
  opacity: 1;
  font-size: 16px !important;
}
*:-moz-placeholder {
  color: $lightgrey !important;
  font-style: italic; 
  opacity: 1;
  font-size: 16px !important;
}
*:-ms-input-placeholder { /* IE10+ */
  color: $lightgrey !important;
  font-style: italic; 
  opacity: 1;
  font-size: 16px !important;
}