// Tabs

.tab-item {
	color: $primary;
	border-color: $primary !important;
}

ion-tabs.tabs-color-active-positive {
	&.tabs-top {
		.tab-item {
			color: $primary;
			border-color: $primary;
		}
		.tab-item.tab-item-active {
			color: $primary;
			border-color: $primary;
		}
	}
	&.tabs-bottom {
		.tab-item.tab-item-active {
			color: $white;
			border-color: $white;
		}
	}
}

// // Map
ion-content.map {
	#bottomSheet {
		md-backdrop {
			display: none;
			z-index: -1;
		}
		.md-scroll-mask {
			z-index: -1 !important;
		}
	}

	#controls {
		position: absolute;
		bottom: 0;
		width: 100%;

		.button {
			background: $white;
			color: $primary;
		}
	}
}
.scroll {
	height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

button.button-postive-icon {
	background: none;
	border: none;
	color: $lightgrey;
}

.checkbox-calm input:before, .checkbox-calm .checkbox-icon:before {
	border-width: 2px;
	border-color: $lightgrey;
}

.loading-container {
	z-index: 1000;

	.loading {
		background: transparent;
	}
}