// Tabs

.tab-item {
	color: $primary;
	border-color: $primary !important;
}

ion-tabs.tabs-color-active-positive {
	&.tabs-top {
		.tab-item {
			color: $primary;
			border-color: $primary;
		}
		.tab-item.tab-item-active {
			color: $primary;
			border-color: $primary;
		}
	}
	&.tabs-bottom {
		.tab-item.tab-item-active {
			color: $white;
			border-color: $white;
		}
	}
}

// Map
ion-content.map {
	padding: 0;
}
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

button.button-postive-icon {
	background: none;
	border: none;
	color: $lightgrey;
}

.checkbox-calm input:before, .checkbox-calm .checkbox-icon:before {
	border-width: 2px;
	border-color: $lightgrey;
}